.container-header{
    margin-right: 20px;
    font-family: 'Poppins', sans-serif;
}

#indpage {
    background-image: url("../static/diya.png");
    background-position: 50px 1px;
    width: 95px;
    padding-top: 80px;
    padding-left: 200px;
    background-size: 80px 80px;
    background-repeat: no-repeat;
}
#icon-logo {
    padding: 0%;
}


.indpage:hover {
    opacity: 0.7;
  }

